/* Main Style */
body {
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-size: cover;

}

header {

    width: 700px;
    border: 1px black none;
    margin-left: auto;
    margin-right: auto;

}

main {
    width: 700px;
    border: 1px black none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    width: 700px;
    border: 1px black none;
    margin: 0 auto;
    background-color: antiquewhite;

}

/* Text Style START*/
h1 {
    font-size: 80px;
    font-family: cursive;
    color: darkkhaki;
    text-align: center;
}

  p, li, a{
    font-size: 36px;
    font-family: "Ariel", sans-serif;
    color: darkgreen;
    text-decoration: underline;
    

}


li {
    border: solid #00ffeb 1px;
    margin-right: 1px;
    display: inline;
    padding: 10px;
    border-radius: 5%;
    
}

a:link {
    color: blue;
}

a:visited {
    color: green;
}

a:hover {
    color: black;
}

a:active {
    color: yellow;
}
/* Text Style END*/

/* Image starts*/

#intro-image {
    text-align: center;
}

#intro-image img {
width: 500px;
border-radius: 200%;
opacity: 1;
}


#about-me p {
text-decoration: none;
color: cornflowerblue;
}

#about-me h2, h3, h4{
font-size: 50px;
font-style: oblique;
color:darkgrey; 
}

nav {
    text-align: center;





    